.widget-card {
    width: 205px;
    height: 190px;
}

.widget-valueCard-up {
    display: flex;
    justify-content: space-between;
}

.widget-valueCard-Image {
    background: #E8E8E8;
    border-radius: 9.2195px;
    width: 22px;
    padding: 3px;
}

.widget-valueCard-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    /* font-size: 12.2195px; */
    font-size: 11.2195px;
    color: #606060;
}

.widget-valueCard-value {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22.4024px;
    color: #000000;

}

.widget-valueCard-month {
    font-family: 'Poppins';
    font-size: 10.3809px;
    color: #606060;
}

/* .widgets-card-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
} */
/* 
.card-percentage-rise {
    font-family: 'Poppins';
    font-size: 10.3809px;
    color: #16C098;
}

.card-percentage-fall {
    font-family: 'Poppins';
    font-size: 10.9622px;
    color: #FF0000;
} 

.widget-valueCard-dash{
    background: #E8E8E8;
    opacity: 0.4;
    border-radius: 9.2195px;
    width: 24px;
    height: 25px;
    padding: 6px;
} 

.widget-cardImages {
    background: #E8E8E8;
    border-radius: 9.2195px;
    width: 17px;
    height: 22px;
    padding: 6px;
} 
*/