.flexDashboard {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.sideBar {
    flex-direction: column;
    width: 15%;
    justify-content: space-between;
}

.logoSidebar {
    /* background: purple; */
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logobar {
    height: 45%;
    width: 50%;
}

.lowerSidebar {
    height: 85%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.langSide {
    background: #F3F3F3;
    height: 32px;
    width: 120px;
    border-radius: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    border: none;
    text-align: center;
}

.rightSideDiv {
    width: 85%;
    flex-direction: column;

}

.topBar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.topbarLeft {
    width: 50%;
    display: flex;
    justify-content: space-around;

}

.searchLeftTop {
    /* background-color: rebeccapurple; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background: #FFFFFF;
    border: 1px solid #EFEEEB;
    border-radius: 12px;
    width: 75%;
    height: 50%;
}

.dashboardTopBar {
    /* background: yellowgreen; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardTop {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    color: #000000;
    width: 15%;
}

.topBarRight {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.DateTop {
    font-family: 'Poppins';
    font-style: normal;
    color: #A3A3A3;
    font-size: 16px;
    width: 22%;
}

.iconbellTop {
    width: 7%;
}

.userImage {
    width: 52px;
    height: 52;
    border-radius: 50%;
    cursor: pointer;

}

.personDropDown {
    width: 13%;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    border: none;
    text-align: center;
    margin-right: 2%;
}


.main {
    background-color: rgb(112, 83, 28);
    height: 90%;
}