.flexContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(353.67deg, #1879B8 8.71%, #14A3D8 85.42%);
}

.leftDiv {
    height: 100%;
    width: 38%;
    background: linear-gradient(353.67deg, #1879B8 8.71%, #14A3D8 85.42%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.logoDiv {
    align-items: center;
    justify-content: center;
}

.logo {
    height: 40%;
    width: 94%;
}

.sloganDiv {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.illustration {
    height: 160px;
    width: 84%;
}

.slogon {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;

    color: #FFFFFF;
}

.rightDiv {
    background-color: white;
    height: 100vh;
    width: 70%;
    border-radius: 25px 0px 0px 25px;
    flex-direction: column;
    justify-content: space-between;

}

.upperDiv {
    display: flex;
    justify-content: space-between;
    margin: 23px 40px 0;

}

.adminReset {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
    height: 35px;
    width: 236px;
    border: 1px solid #B9B8B8;
    border-radius: 7px;
    text-align: center;
}

.langReset {
    background: #F3F3F3;
    height: 32px;
    width: 16%;
    border-radius: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
    text-align: center;
    margin-top: 13px;
    line-height: 35px;
}




.lowerDivReset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh
}

.resetPassDiv {
    width: 51%;
}

.resetPass {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #2D2D2D;

}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #868686;
    width: 51%;
    height: 50px;
}

.confirmPassBtn {
    background: linear-gradient(90.55deg, #1879B8 0.29%, #14A3D8 98.5%);
    border-radius: 7px;
    width: 52%;
    height: 50px;
    color: white;
    border-color: white;
    margin-top: 33px;
}

.paragraph {
    font-family: 'Poppins';
    font-style: normal;
    color: #868686
}

.modelForgetBtn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #868686;

}