.create-rfqs-container {
    background-color: rgb(241 251 251);
    padding: 25px;
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px
}

.rfqs-create-button-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    /* background-color: rebeccapurple; */
}

.create-rfqs-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rfq-Top-btn-div {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}

.RFQ-send-btn {
    border: none;
    width: 125px;
    height: 45px;
    background: linear-gradient(90.55deg, #1879B8 0.29%, #14A3D8 98.5%);
    border-radius: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;

}

.rfq-dashes-btn {
    width: 50px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    margin-left: 20px;
}

.create-rfqs-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.rfqs-inVoice-div {
    display: flex;
    margin-top: 30px;
}

.rfq-button-div {
    display: flex;
    align-items: center;
}

.send-rfqs-btn {
    margin-top: 30px;
    width: 195px;
    height: 50px;
    background: linear-gradient(90.55deg, #1879B8 0.29%, #14A3D8 98.5%);
    border-radius: 7px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.cancel-rfqs-btn {
    margin-top: 30px;
    width: 195px;
    height: 50px;
    background: #95989A;
    border-radius: 7px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 20px;
}

.tAmount-inVoice-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.tAmount-inVoice-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #7B7B7B;
}

.tAmount-value-span {
    margin-left: 122px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;

}

.delivery-charges-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.delivery-charges-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #7B7B7B;
}

.deliveryCharges-value-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    margin-left: 122px;

}

.vat-inVoice-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.vat-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #7B7B7B;
}

.vat-value-span {
    margin-left: 122px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

.grand-total-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.grand-total-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #11181C;
}

.grand-total-value-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #11181C;
    margin-left: 122px;
}

/* 
:where(.css-dev-only-do-not-override-1e3x2xa).ant-card .ant-card-body {
    padding-top: 0px !important;
} */