.sider {
    flex: 0 0 210px !important;
    background-color: white !important;
    width: 250px !important;
    min-width: 200px !important;
    max-width: 500px !important;
}

.sideBar {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(165, 51, 51); */
}

.logo-sidebar-div {
    /* background: purple; */
    height: 84px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sidebar {
    height: 55%;
    width: 56%;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-layout .ant-layout-sider-children {
    height: 100vh;
    margin-top: -0.1px;
    padding-top: 0.1px;
    position: fixed;
}

.lower-sidebar {
    height: 100%;
    flex-direction: column;
    display: flex;
    /* justify-content: sp; */
    align-items: center;
    /* background: purple; */
}

.ant-menu-inline .ant-menu-item {
    /* height: 45px; */
    width: 92%;
    margin-left: 10px;
    margin-bottom: 5px;
    /* margin-top: 20px; */
    /* border-radius: 40px; */
    /* background: #FFFFFF; */
    /* border: 1px solid #EFEEEB; */
    /* box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);*/
}

.ant-menu::before {
    margin-top: 18px;
}

.lower-sidebar-lang-div {
    align-items: center;
    width: 100%;
    /* background-color: rgb(13, 61, 104); */
    display: flex;
    height: 105.5px;
    justify-content: center;
}



:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-light>.ant-menu .ant-menu-item-selected {
    /* background-color: #e6f4ff; */
    background: #FFFFFF !important;
    border: 1px solid #EFEEEB !important;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05) !important;
    border-radius: 40px !important;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu .ant-menu-item-divider {
    overflow: hidden !important;
    line-height: 0 !important;
    border-color: rgba(5, 5, 5, 0.06) !important;
    border-width: 0 !important;
    border-top-width: 1px !important;
    margin-block: 1px !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu .ant-menu-item:hover {
    /* background: #FFFFFF !important;
    border: 1px solid #EFEEEB !important; */
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05) !important;
    border-radius: 40px !important;
    border: 1px solid #EFEEEB !important;
    background-color: #fff !important;

}

/* 
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: #1677ff;
} */