.img-upper {
    /* background-color: purple; */
    height: 112px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.image {
    /* background-color: green; */
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-div {
    width: 25%;
    /* background-color: palegreen; */
    display: flex;
    justify-content: flex-end;
}


/* 
.ant-upload-list .ant-upload-list-text {
    display: none;
} */

.ant-upload-list-item-name {
    display: none;
}

.anticon-paper-clip {
    display: none;
}

.ant-upload-list-item-actions.ant-btn .css-dev-only-do-not-override-1e3x2xa .ant-btn-text .ant-btn-sm .ant-btn-icon-only .ant-upload-list-item-action {
    display: none;
}

.anticon .anticon-delete .ant-upload-list-item .ant-upload-list-item-undefined {
    display: none;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-upload-wrapper .ant-upload-list .ant-upload-list-item:hover {
    display: none;
}

/* .ant-upload-list-item-container .ant-upload-list-item .ant-upload-list-item-undefined .ant-upload-icon .anticon .ant-upload-list-item-actions.ant-btn .ant-upload-list-item-action {
    display: none;
} */