.flexContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(353.67deg, #1879B8 8.71%, #14A3D8 85.42%);
}

.leftDiv {
    height: 100%;
    width: 38%;
    background: linear-gradient(353.67deg, #1879B8 8.71%, #14A3D8 85.42%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.logoDiv {
    align-items: center;
    justify-content: center;
}

.logo {
    height: 40%;
    width: 94%;
}

.sloganDiv {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.illustration-otp {
    height: 71%;
    width: 86%;
}

.slogon-otp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    margin-top: 8%;
    color: #FFFFFF;
}

.rightDiv {
    background-color: white;
    height: 100vh;
    width: 70%;
    border-radius: 25px 0px 0px 25px;
    flex-direction: column;
    justify-content: space-between;

}

.upperDivOtp {
    display: flex;
    justify-content: flex-end;
    margin: 23px 40px 0;

}

.langOtp {
    background: #F3F3F3;
    height: 32px;
    width: 15%;
    border-radius: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
    text-align: center;
    margin-top: 13px;
    outline: none;
}



.lowerDivOtp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84vh
}

.otpDiv {
    width: 50%;
}

.verificationCode {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #2D2D2D;
}


.belowCode {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1E1D1D;
    width: 150%;
}


.otpContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 50%;
    height: 10%;
}

.otpContainer input[type="tel"] {
    width: 26% !important;
    height: 32px !important;
    text-align: center !important;
    /* margin-right: 20px !important; */
    border: none !important;
    border-bottom: 1px solid gray !important;
    outline: none !important;
}

.confirmBtn {
    background: linear-gradient(90.55deg, #1879B8 0.29%, #14A3D8 98.5%);
    border-radius: 7px;
    width: 51%;
    height: 50px;
    color: white;
    border-color: white;
    margin-top: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.otp-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #868686;
}

.model-resendCode-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #5534b1;
    text-decoration: none;

}