.widget-order-card {
    width: 100%;
    height: 100%;
}

.widget-card {
    width: 18%;
    height: fit-content;
}

.widget-orderCard-up {
    display: flex;
    justify-content: space-between;
}

.widget-orderCard-Images {
    background: #E8E8E8;
    border-radius: 9.2195px;
    width: 22px;
    padding: 3px;
}

/* .widget-orderCard-dash {
    background: #E8E8E8;
    opacity: 0.4;
    border-radius: 9.2195px;
    width: 24px;
    height: 25px;
    padding: 6px;
} */

.widget-orderCard-title {
    font-family: 'Poppins';
    font-size: 12.2195px;
    color: #606060;
}

.widget-orderCard-count {
    font-family: 'Poppins';
    font-size: 22.4024px;
    color: #000000;
}

/* .card-percentage-rise {
    font-family: 'Poppins';
    font-size: 10.3809px;
    color: #16C098;
}

.card-percentage-fall {
    font-family: 'Poppins';
    font-size: 10.9622px;
    color: #FF0000;
} */

.widget-orderCard-month {
    font-family: 'Poppins';
    font-size: 10.3809px;
    color: #606060;
}