.new-order-container {
    background-color: rgb(241 251 251);
    padding: 25px;
    width: 100%;
    padding-top: 105px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px
}

.new-order-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 100%;
}

.new-order-arrow {
    color: #7B7B7B;
    margin-right: 18px;
}

.arrow-btn {
    border: none;
    background-color: rgb(241 251 251);
}

.create-newOrder-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.continue-btn {
    margin-top: 30px;
    width: 195px;
    height: 50px;
    background: linear-gradient(90.55deg, #1879B8 0.29%, #14A3D8 98.5%);
    border-radius: 7px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.order-inVoice-div {
    display: flex;
    margin-top: 30px;
}

.button-div {
    display: flex;
    align-items: center;
}

.createOrder-btn {
    margin-top: 30px;
    width: 195px;
    height: 50px;
    background: linear-gradient(90.55deg, #1879B8 0.29%, #14A3D8 98.5%);
    border-radius: 7px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.cancel-order-btn {
    margin-top: 30px;
    width: 195px;
    height: 50px;
    background: #95989A;
    border-radius: 7px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 20px;
}