.widget-manageOrder-card {
    width: 250px;
    height: 155px;
}

.widget-card-up {
    display: flex;
    justify-content: space-between;
}

.widget-card-Images {
    background: #E8E8E8;
    border-radius: 9.2195px;
    width: 22px;
    padding: 3px;
}

.widget-card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    /* font-size: 12.2195px; */
    font-size: 11.2195px;
    color: #606060;
}

.widget-card-count {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22.4024px;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 0px;
}

.widget-card-percentage-rise {
    font-family: 'Poppins';
    font-size: 10.3809px;
    color: #16C098;
    margin-top: 5px;
}

.widget-card-percentage-fall {
    font-family: 'Poppins';
    font-size: 10.9622px;
    color: #FF0000;
    margin-top: 5px;
}

.widget-card-month {
    font-family: 'Poppins';
    font-size: 10.3809px;
    color: #606060;
}